SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_WAREHOUSE=
SNOWFLAKE_ROLE=ACCOUNTADMIN


PURVIEW_ACCOUNT_NAME=Vantive
AZURE_TENANT_ID=xxxxxx
AZURE_CLIENT_ID=xxxxxxx
AZURE_CLIENT_SECRET=xxxxxx
DOMAIN_NAME=xxxxx
PURVIEW_COLLECTION_PROD=Prod
PURVIEW_COLLECTION_COMMERCIAL=Commercial
