SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_WAREHOUSE=
SNOWFLAKE_DATABASE=
SNOWFLAKE_ROLE=ACCOUNTADMIN

PURVIEW_ACCOUNT_NAME=
AZURE_TENANT_ID=xxxxxx
AZURE_CLIENT_ID=xxxxxx
AZURE_CLIENT_SECRET=xxxxxx
DOMAIN_NAME=xxxxx
ENVIRONMENT=XXXXX
PURVIEW_COLLECTION_COMMERCIAL=Commercial
